/código/Los_De_Melo/nbproject/private/
/código/Los_De_Melo/build/
/código/Los_De_Melo/dist/
/código/LosDeMelo/nbproject/private/
/código/LosDeMelo/build/
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/código/LosDeMelo/dist/
/código/EjemploBotones/nbproject/private/
/código/EjemploBotones/build/
/código/EjemploBotones/dist/
/código/Interfaces/Proyecto Interfaces/nbproject/private/
/código/Interfaces/Proyecto Interfaces/build/
/código/LosDeMelo/LosDeMelo/nbproject/private/
/código/LosDeMelo/LosDeMelo/build/
/código/Interfaces/Proyecto Interfaces/dist/
/codigo/codigo Fase Final/codigo/dist/